<div class="user-post"><%= render @comment.commentable %></div>

<div class="user-comment"><%= render @comment %></div>

<div id="comments-header">
    <h4>subcomments</h4>
    <div id="new_comment">
        <%= turbo_frame_tag "comment_form" %>
        <%= link_to "Reply to comment", new_comment_comment_path(@comment), data: {turbo_frame: "comment_form"}%>
    </div>
</div>

<div id="comments">
    <%= render @replies %>
</div>