<h1>Profile for <%= @user.email %></h1>
<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, width: 150 %>
<% end %>

<% if user_signed_in? && current_user != @user %>
    <% unless current_user.following?(@user) %>
        <%= button_to "follow", follow_user_path(@user), method: :post %>
    <% else %>
        <%= button_to "unfollow", unfollow_user_path(@user), method: :delete %>
    <% end %>
<% end %>

<div id="posts" class="user-posts">
    <%= render @posts %>
</div>