<div class = "post" style="border: 1px solid blue">
    <h3 class="post-title">
        <%= link_to post.title, post %> by: <%= link_to post.author.email, post.author %>
    </h3>

    <p class="post-content">
        <%= post.content %>
    </p>

    <div>
        <p>Comments: <%= post.comments.count %></p>
        <p>Likes: <%= post.likes.count %></p>
    </div>

    <div class="post-like-button">
        <% unless current_user.liked?(post) %>
            <%= button_to "Like", post_likes_path(post), method: :post %>
        <% else %>
            <% like = post.likes.find_by(user: current_user)%>
            <%= button_to "Unlike", post_like_path(post, like), method: :delete %>
        <% end %>
    </div>
    
    <% if current_user == post.author %>
        <div class="post-buttons">
            <%= link_to "Edit post", edit_post_path(post) %>
            <%= link_to "Delete Post", post, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>
</div>